.map-filter-wrapper {
  width: 50%;
  padding: 10px 20px;
  flex: 1;
}

.map-filter-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;
}

.map-filter-items > span {
  margin-right: 8px;
}
